.page {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--mxa-color);
    color: var(--mxa-text-color);
}
.container {
    width: 90%;
    max-width: 800px;
}