<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Theme -->
  <meta name="theme-color" content="#275d2b">
  <link rel="icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png" sizes="180x180">
  <link rel="mask-icon" href="/icons/android-chrome-maskable-512x512.png" color="#723aa5">
  <!-- Primary -->
  <title>@marcXandre - Micro Front End Playground</title>
  <meta name="title" content="@marcXandre - Micro Front End Playground">
  <meta name="description"
    content="POC of a micro-front-end architecture with Svelte, Vue, React. A type of architecture where a web application is divided into different modules, implemented autonomously, allowing same level of flexibility and speed that microservices provide.">
  <meta name="thumbnail" content="https://mfe.marcxandre.dev/seo-thumbnail.jpg" />
  <!-- Open Graph -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://mfe.marcxandre.dev/">
  <meta property="og:title" content="@marcXandre - Micro Front End Playground">
  <meta property="og:description"
    content="POC of a micro-front-end architecture with Svelte, Vue, React. A type of architecture where a web application is divided into different modules, implemented autonomously, allowing same level of flexibility and speed that microservices provide.">
  <meta property="og:image" content="https://mfe.marcxandre.dev/seo-thumbnail.jpg">
  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://mfe.marcxandre.dev/">
  <meta property="twitter:title" content="@marcXandre - Micro Front End Playground">
  <meta property="twitter:description"
    content="POC of a micro-front-end architecture with Svelte, Vue, React. A type of architecture where a web application is divided into different modules, implemented autonomously, allowing same level of flexibility and speed that microservices provide.">
  <meta property="twitter:image" content="https://mfe.marcxandre.dev/seo-thumbnail.jpg">
  <!-- Robot -->
  <meta name="robots" content="index,follow">
  <meta name="googlebot" content="index,follow">
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preload" as="style"
    href="https://fonts.googleapis.com/css2?family=Caveat&family=Inter:wght@400;500;600;700&display=swap">
  <link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');"
    href="https://fonts.googleapis.com/css2?family=Caveat&family=Inter:wght@400;500;600;700&display=swap">
  <!-- Schema -->
  <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Person",
      "name": "Marc-André Daigneault"
      "description": "I conceptualize, design & develop powerful web applications. I'll help you make your vision come true.",
    }
  </script>

  <!-- Single SPA -->
  <!--
    This CSP allows any SSL-enabled host and for arbitrary eval(), but you should limit these directives further to increase your app's security.
    Learn more about CSP policies at https://content-security-policy.com/#directive
  -->
  <meta http-equiv="Content-Security-Policy" content="default-src 'self' https: localhost:*; script-src 'unsafe-inline' 'unsafe-eval' https: localhost:* http://localhost:*; connect-src https: localhost:* ws://localhost:*; style-src 'unsafe-inline' https:; object-src 'none';">
  <meta name="importmap-type" content="systemjs-importmap" />

  <script type="systemjs-importmap">
    {
      "imports": {
        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js",
        "@marcXandre/root-config": "https://micro-front-end.pages.dev/marcXandre-root-config.js",
        "@marcXandre/styleguide": "https://micro-front-end.pages.dev/styleguide/marcXandre-styleguide.js",
        "@marcXandre/navigator": "https://micro-front-end.pages.dev/navigator/marcXandre-navigator.js",
        "@marcXandre/slack-msg": "https://micro-front-end.pages.dev/slack-msg/js/app.js"
      }
    }
  </script>

  <% if (isLocal) { %>
  <script type="systemjs-importmap">
    {
      "imports": {
        "@single-spa/welcome": "https://unpkg.com/single-spa-welcome/dist/single-spa-welcome.js",
        "@marcXandre/root-config": "//localhost:9000/marcXandre-root-config.js",
        "@marcXandre/styleguide": "//localhost:9000/styleguide/marcXandre-styleguide.js",
        "@marcXandre/navigator": "//localhost:9000/navigator/marcXandre-navigator.js",
        "@marcXandre/slack-msg": "//localhost:9000/slack-msg/js/app.js"
      }
    }
  </script>
  <% } %>

  <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js" as="script">

</head>
<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <script>
    System.import('@marcXandre/root-config');
    System.import('@marcXandre/styleguide');
    System.import('@marcXandre/navigator');
    System.import('@marcXandre/slack-msg');
  </script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>
</html>
